[data-novi-id="0"] {
  text-align: left !important;
}

.grid {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.demo {
  background: #9bd5d4;
}

.text-effect {
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
}

.text-effect span {
  animation: animate linear 2000ms infinite;
}

.text-effect span:nth-child(1n) {
  animation-delay: 0s;
}

.text-effect span:nth-child(2n) {
  animation-delay: 100ms;
}

.text-effect span:nth-child(3n) {
  animation-delay: 200ms;
}

.text-effect span:nth-child(4n) {
  animation-delay: 300ms;
}

.text-effect span:nth-child(5n) {
  animation-delay: 400ms;
}

.text-effect span:nth-child(6n) {
  animation-delay: 500ms;
}

.text-effect span:nth-child(7n) {
  animation-delay: 600ms;
}

.text-effect span:nth-child(8n) {
  animation-delay: 700ms;
}

.text-effect span:nth-child(9n) {
  animation-delay: 800ms;
}

.text-effect span:nth-child(10n) {
  animation-delay: 900ms;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 80px Red, 0 0 30px orange, 0 0 6px DarkRed;
  }
}

@media only screen and (max-width: 990px) {
  .text-effect {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .text-effect {
    font-size: 18px;
  }
}

@media only screen and (max-width: 479px) {
  .text-effect {
    font-size: 14px;
  }
}

@media only screen and (max-width: 359px) {
  .text-effect {
    font-size: 27px;
  }
}

.text-roboto-black {

  font-family: "robotoblack";
}

.text-roboto-light {

  font-family: "robotolight";
}

.text-roboto-thing {

  font-family: "robotothing";
}


.text-roboto-regular {

  font-family: "robotoregular";
}

.text-roboto-medium {

  font-family: "robotomedium";
}


.box {
  font-family: 'robotomedium', sans-serif;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.box:before,
.box:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  height: 25%;
  width: 100%;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -100%;
  transition: all 0.3s;
}

.box:after {
  top: 100%;
}

.box:hover:before {
  transform: translateX(-50%) translateY(0);
  top: 0;
}

.box:hover:after {
  transform: translateX(-50%) translateY(0);
  top: auto;
  bottom: 0;
}

.box:hover:before,
.box:hover:after {
  height: 50%;
  opacity: 1;
  animation: animate 0.5s linear;
}

.box img {
  width: 100%;
  height: auto;
}

.box .box-content {
  width: 100%;
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 60%;

  z-index: 1;
  transition: all 0.4s ease 0.1s;
  left: 50%;
}

.box:hover .box-content {
  opacity: 1;
  filter: blur(0);
  top: 50%;
}

.box .title {
  color: #4834d4;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.box .post {
  color: #444;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 1;
  transition: all 0.3s ease 0.3s;
}

.box:hover .icon {
  opacity: 1;
}

.box .icon li {
  display: inline-block;
}

.box .icon li a {
  color: #fff;
  background-color: #4834d4;
  line-height: 25px;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 3px -3px 5px #555;
  display: block;
  transition: all 0.3s;
}

.box .icon li a:hover {
  color: #4834d4;
  background-color: #fff;
  border-color: #4834d4;
}

@keyframes animate {
  80% {
    width: 90%;
  }

  85% {
    width: 95%;
  }

  93% {
    width: 85%;
  }

  100% {
    width: 100%;
  }
}

@media only screen and (max-width:990px) {
  .box {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width:479px) {
  .box .title {
    font-size: 20px;
  }
}

/* LIST #2 */
#list2 {
  width: 320px;
}

#list2 ol {
  font-style: italic;
  font-family: Georgia, Times, serif;
  font-size: 24px;
  color: #bfe1f1;
}

#list2 ol li {}

#list2 ol li p {
  padding: 8px;
  font-style: normal;
  font-family: Arial;
  font-size: 13px;
  color: #eee;
  border-left: 1px solid #999;
}

#list2 ol li p em {
  display: block;
}


